@import "tailwindcss";

@theme {
  --font-sans: "Nunito Sans", "Montserrat", sans-serif, system-ui, ui-sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
  
  --color-primary:    '#FFCE1A';
  --color-secondary:  '#0D0842';
  --color-black-bg:   '#F3F3F3';
  --color-favorite:   '#FF5833';
  --color-primary:    '#FFCE1A';

}